body{
    margin:0;
    width: 100%;
}

li{
    display: list-item;
list-style: none;}

.head{
    display:flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    background-color: rgb(213, 214, 224);
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%);
}

.head_left{
    width: 300px;
    margin-left: 150px;
   }


.head_middle-center{
    display: flex;
    width:400px;
    justify-content: space-between;
    padding-left: 0;
}

.head_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    width: 300px;
    margin-right: 150px;
}

.head_right-search{margin-left: 23px;}
.head_right-combine1{
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
}
.content_top{
    margin-left: 150px;
}
.categories{
    background-color: #FFF3E9;
    margin-left: 150px;
    margin-right: 150px;
    display: inline-block;
    box-sizing: border-box;
}
.region1{
    padding-left: 0%;
}
.first_row{
    padding: 0px 30px 30px 30px ;
}
.Second_row{
    padding: 0 30px 0 30px;
}

.region{
    border: solid 2px;
    border-color: #9EB2B0;
    border-radius: 30px;
    padding: 5px 20px;
    margin-right: 18px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
    width:115px;
}
.content_left{
    display:flex;
    margin-left: 150px;
    margin-right: 150px;
    gap:20px;
    justify-content: flex-start;
    border: 1px solid;
}
.sapxep{display: flex;
    width:100%;
    justify-content: flex-end;
    margin-right: 30px;}