@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
    text-decoration: none;
    list-style-type: none;
    /* background-color: #9EB2B0 !important; */
    background-color: rgba(253, 226, 177,0.34) !important;
}



#myBtn {

    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: #004993;
    background: #004993;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    box-sizing: content-box;
}

#myBtn:hover {
    background-color: #555;
}

.bar {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    width: 55px;
    padding: 10px;
    min-height: 200px;
    background: lightpink;
    gap: 10px;
    bottom: 0;
    font-size: 35px;
    align-items: center;
    border: 1px inherit black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0 3px 3px 0;
}

.logo {
    width: 30px;
}

.logo:hover {
    transform: scale(1.2);
}

.menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
}

.menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50px;
    margin: 0 .2em 1em;
    transition: all .3s ease;
}

.container-slide {
    position: relative;
    width: 100%;
    max-height: 300px;
    background-size: cover;
    background-position: 50% 50%;
    margin: auto;
    overflow: hidden;

}

.container-overlay-slide {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    max-height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.container-slide:hover .container-overlay-slide {
    opacity: 1;
}

.container-slide-img {
    width: 100%;
}

.container-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.container-slide:hover .container-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.container-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.container-details p {
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom {
    top: 80%;
}

.container-item {
    display: flex;
    margin-bottom: 50px;
    position: relative;
}

.container-item-header {
    display: flex;
    justify-content: space-between;
    max-width: 1290px;
}


.container-item-header-right {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.dalat {
    width: 300px;
    padding: 20px 20px 0 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    border-bottom: 5px solid #333333;
}

.container-item-location {
    background: white;
    margin-top: 8px;
    min-height: 100px;
    /* margin-bottom: 20px; */
    padding: 15px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.container-item-location-ul {
    margin-bottom: 20px;
    overflow: hidden;
    gap: 15px;
    list-style-type: none;
    justify-content: space-around;
    padding-left: 0;
    margin-bottom: 0;
}

.container-item-location-li {
    display: inline-block;
    margin: 10px;
    border: 1px solid rgba(7, 7, 7, 0.3);
    padding: 5px 20px;
    border-radius: 30px;
}

.a-li {
    text-decoration: none !important;
    color: black !important;
}

.container-item-main {
    flex: 1 1 70%;
    border: 3px solid lightgrey;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: relative;
    margin-bottom: 50px;
    border-radius: 0px 0 15px 15px;
    background: white;
}

.container-item-sidebar {
    flex: 1 1 30%;
    max-width: 250px;

}

.container-item-main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-start;
    gap: 40px;
    overflow: hidden;
    block-size: fit-content;

}

.card {
    width: 18em;
    margin-left: 10px;
    overflow: hidden;
}


.card-img-top {
    min-height: 210px;

}

.card-img-top:hover {
    transform: scale(1.1);
    transition: all .3s ease;
    overflow: hidden;
}

.container-item-sidebar {
    background-color: #f9f9f9;
    border-radius: 0px 0px 15px 0;
    transform: translate3d(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    gap: 30px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
}

.container-item-sidebar-listing_place {
    margin-bottom: 0;
    padding-left: 0;
    padding: 0px 30px 0 30px;

}


.map ul {
    list-style-type: none;

}

.list {
    text-decoration: none;
    color: black;
}

.list:hover {
    color: #33e9e9;
    margin-left: 5px;
    transition-duration: 0.5s;
}

.list-wrap {
    padding: 15px 15px 15px 5px;
    border-bottom: 1px solid lightgray;
}

.siderbar-plc {
    padding: 15px 15px 15px 5px;
    border-bottom: 1px solid lightgray;
    margin-left: 0;
}

/* li {
    padding: 15px 15px 15px 5px;
    border-top: 1px solid lightgray;
    margin-left: 0;
} */

h3 {
    padding: 20px;
    font-size: 15px;
    border-bottom: 1px solid black;
}

.xemthem {
    display: flex;
    justify-content: center;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    margin: auto;
    margin-top: 15px;

}

.xemthem:hover {

    border: 1px inherit#33e9e9;
    transition-duration: 0.3s;
    background: #66ffee;
    color: white;
}

/* #myBtn {
        
        position: fixed; 
        bottom: 20px; 
        right: 30px;
        z-index: 99; 
        border: none; 
        outline: none; 
        color:#004993;
        background: #004993; 
        color: white; 
        cursor: pointer; 
        padding: 15px; 
        width: 20px;
        height: 20px;
        border-radius: 50%; 
        font-size: 18px; 
        display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    box-sizing: content-box;
      }
      
      #myBtn:hover {
        background-color: #555; 
      } */


@media only screen and (max-width:1400px) {
    .container-item-header {
        max-width: 866px;
    }
}

@media only screen and (max-width:1200px) {
    .container-item-header {
        max-width: 686px;
        flex-direction: column;
    }
}

/* footer */

.footer-bottom {
    width: 100%;
    height: 200px;
    background: white;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding: 1% 2% 1% 2%;
}

.footer-link {
    list-style-type: none;
}

.footer-link a {
    text-decoration: none;
    color: #4d4e20
}

.footer-link i {
    padding-right: 5%;
    font-size: larger;
}

.about-us {
    list-style-type: none;
}